---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import IndexNavbar from '../components/IndexNavbar.astro'
import Books from '../components/Books.astro'
import { API_URL } from '../../env.json'

const date = new Date()
const day = date.getDate()
const month = date.getMonth() + 1
const year = date.getFullYear()
// const today = `${day}-${month}-${year}`

let response = await fetch(`${API_URL}/bestsellers/1-4-2023`)
const bestsellers = await response.json()

response = await fetch(`${API_URL}/bestsellers-spanish/1-4-2023`)
const bestsellersSpanish = await response.json()

response = await fetch(`${API_URL}/bestsellers-children/1-4-2023`)
const bestsellersChildren = await response.json()
---

<Layout title="Welcome to Astro.">
	
	<Header />

	<div class="flex justify-center">

		<div class="max-w-7xl md:w-3/4 w-5/6 flex lg:flex-row-reverse place-items-center lg:place-items-start flex-col gap-2">

			<main class="lg:w-9/12 w-full py-5 text-center flex flex-col gap-2">
				<div class="py-14 shadow-md bg-white">
					<h1 class="text-3xl font-extrabold md:text-5xl">Bienvenido a <span class="text-gradient">Bookreads</span></h1>
					<p class="text-xl">
						Mira el top diario de libros vendidos en <a href="https://www.bookdepository.com/es/" target="_blank" class="text-blue-600">Bookdepository</a>.<br />
					</p>
				</div>

				<div class="px-2 py-1 h-fit shadow-md bg-white text-left ">
					<p class="text-xl font-semibold">Bestsellers</p>
					<div class="scrollx py-2 overflow-x-scroll">
						<Books data={bestsellers} />
					</div>
				</div>

				<div class="px-2 py-1 h-fit shadow-md bg-white text-left ">
					<p class="text-xl font-semibold">Bestsellers en español</p>
					<div class="scrollx py-2 overflow-x-scroll">
						<Books data={bestsellersSpanish} />
					</div>
				</div>

				<div class="px-2 py-1 h-fit shadow-md bg-white text-left ">
					<p class="text-xl font-semibold">Bestsellers para niños</p>
					<div class="scrollx py-2 overflow-x-scroll">
						<Books data={bestsellersChildren} />
					</div>
				</div>	
			</main>

			<IndexNavbar />

		</div>
	</div>
	
	<Footer />
	
</Layout>

<style>
	.border {
		border: 1px solid #000;
		border-collapse: collapse;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}
</style>
